<div class = "jamming">
    <div class = "container">
        <div class="row">
            <div class = "col-xs-12 text-center">
    	       <div class="jamSpaceInfo"> {{destination}} jamSpace </div>
            </div>
        </div>


<!--         <div class = "row">
            <div class = "col-xs-12 text-center">
                <div ng-keypress="notePlayed($event)" tabindex="0" class="drums">
                    <strong> Click to play 8-bit drums </strong>
                </div>
                <div>
                	Press "t" to trigger the HighHat - 
                	<audio id="highHat">
                	<source src="/html/8bitHat.wav">
                	</audio>
                </div>

                <div>
                	Press "r" to trigger the kick - 
                	<audio id="kick">
                	<source src="/html/8bitKick.wav">
                	</audio>
                </div>

                <div>
                	Press "y" to trigger the snare - 
                	<audio id = "snare">
                	<source src="/html/8bitSnare.wav">
                	</audio>
                </div>
            </div>
        </div> -->
        <div ng-show="revealMidiController" >
            <div class = "row">
                <div class="col-sm-12 text-center">
                    <button ng-click="armMidi()" class="armButton"> click to reveal/hide midi settings and also to broadcast what your playing to the universe</button>
                    <div ng-show="revealParams" class="midiParameters">

                        <div class="currentDevices">
                            Currently conneted devices:
                            <div ng-repeat="object in connectedMidiDevices">
                                {{object.name}}
                            </div>
                        </div>

                        

                        

                        <div class = "midiDelay">
                            DELAY TIME:
                            <input class="volume" type=range min=0 max=3 value=10 step=.1 ng-model="midiParams.delay">
                            <div class="delay_param">
                                {{midiParams.delay}}
                            </div>
                        </div>

                        <div class ="midiVolume">
                            VOLUME:
                            <input class="volume" type=range min=0 max=1 value=10 step=.1 ng-model="midiParams.volume">
                            <div class = "volume_param">
                                {{midiParams.volume}}
                            </div>
                        </div>


                        <div class= "midiWaves"> 
                            WAVE TYPE:
                            <div ng-repeat="object in waveTypes track by $index" class="typeOfWave" ng-click="selectWave($index)">
                                {{object.type}}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
<!-- 
        <div class = "row">
            <div class = "col-xs-12 text-center">
                <div class="syntharrow-left">
                </div>
                <div class = "synthsetType">
                        Triangle audiowave
                </div>
                <div class="syntharrow-right">
                </div>
                    <input class="volume" type=range min=0 max=100 value=10 step=1>
                        VOLUME
                        <div class = "synth">
                            <div class = "whitekey" ng-mousedown="C3()" ng-mouseup="keyboardClickRelease()" ng-touch="C3()">
                            </div>
                            <div class= "blackkey" ng-mousedown="Csharp3()" ng-mouseup="keyboardClickRelease($event)">
                            </div>
                            <div class = "whitekey" ng-mousedown="D3()" ng-mouseup="keyboardClickRelease($event)">
                            </div>
                            <div class= "blackkey" ng-mousedown="Dsharp3()" ng-mouseup="keyboardClickRelease($event)">
                            </div>
                            <div class = "whitekey" ng-mousedown="E3()" ng-mouseup="keyboardClickRelease($event)">
                            </div>
                            <div class = "whitekey" ng-mousedown="F3()" ng-mouseup="keyboardClickRelease($event)">
                            </div> 
                            <div class= "blackkey" ng-mousedown="Fsharp3()" ng-mouseup="keyboardClickRelease($event)">
                            </div>
                            <div class = "whitekey" ng-mousedown="G3()" ng-mouseup="keyboardClickRelease($event)">
                            </div>
                            <div class= "blackkey" ng-mousedown="Gsharp3()" ng-mouseup="keyboardClickRelease($event)">
                            </div>
                            <div class = "whitekey" ng-mousedown="A3()" ng-mouseup="keyboardClickRelease($event)">
                            </div>
                            <div class= "blackkey" ng-mousedown="Asharp3()" ng-mouseup="keyboardClickRelease($event)">
                            </div>
                            <div class = "whitekey" ng-mousedown="B3()" ng-mouseup="keyboardClickRelease($event)">
                            </div>
                            <div class = "whitekey">
                            </div>
                            <div class= "blackkey">
                            </div>
                            <div class = "whitekey">
                            </div>
                            <div class= "blackkey">
                            </div>
                            <div class = "whitekey">
                            </div>
                            <div class = "whitekey">
                            </div> 
                            <div class= "blackkey">
                            </div>
                            <div class = "whitekey">
                            </div>
                            <div class= "blackkey">
                            </div>
                            <div class = "whitekey">
                            </div>
                            <div class= "blackkey">
                            </div>
                            <div class = "whitekey">
                            </div>
                        </div>
                </div>
            </div> -->

        <div class ="row">
            <div class = "col-sm-12 text-center">
                <div class = "mpc" ng-keypress="notePlayed($event)" tabindex="0" ng-keyup="releaseKeyStroke()" >
                    
                    <div class = "setType">
                        {{currentKit}}
                    </div>
                    <div class ="arrow-left" ng-click="changeKitDown()">
                    </div>
                    <div class ="arrow-right" ng-click="changeKitUp()">
                    </div>
                    <div class = "drumPad" ng-class={"drumPadPlayed":pad1BeingPlayed} ng-mousedown="clickPad1()" ng-mouseup="releasePad()"> 
                    </div>
                    <div class = "drumPad" ng-class={"drumPadPlayed":pad2BeingPlayed} ng-mousedown="clickPad2()" ng-mouseup="releasePad()">
                    </div>
                    <div class = "drumPad" ng-class={"drumPadPlayed":pad3BeingPlayed} ng-mousedown="clickPad3()" ng-mouseup="releasePad()">
                    </div>
                    <div class = "drumPad" ng-class={"drumPadPlayed":pad4BeingPlayed} ng-mousedown="clickPad4()" ng-mouseup="releasePad()">
                    </div>
                    <div class = "drumPad" ng-class={"drumPadPlayed":pad5BeingPlayed} ng-mousedown="clickPad5()" ng-mouseup="releasePad()">
                    </div>
                    <div class = "drumPad" ng-class={"drumPadPlayed":pad6BeingPlayed} ng-mousedown="clickPad6()" ng-mouseup="releasePad()">
                    </div>
                    <div class = "drumPad" ng-class={"drumPadPlayed":pad7BeingPlayed} ng-mousedown="clickPad7()" ng-mouseup="releasePad()">
                    </div>
                    <div class = "drumPad" ng-class={"drumPadPlayed":pad8BeingPlayed} ng-mousedown="clickPad8()" ng-mouseup="releasePad()">
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
    <!-- <input type="../../audioSamples/8bitHat.wav"></input> -->