<!-- <div class="container-fluid">   -->  
    <div class="row">
        <div class = "col-sm-0">
        </div>

        <div class = "col-sm-12 jamming">
                <div class="row">
                    <div class = "col-xs-2 text-center">
                        <button type="button" class="btn-md btn-info information" ng-click="revealHelpInfo()">
                            <span class="glyphicon glyphicon-question-sign">
                            </span>
                        </button>
                    </div>
                    <div class = "col-xs-10">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div ng-show="helpInfo" class="text-center help_info">
                            Click, or touch pads to play. You can also use your keyboard R T Y U F G H J
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class = "col-xs-1">
                    </div>
                    <div class = "col-xs-10 text-center">
            	       <div class="jamSpaceInfo"> 
                            {{destination}} jamSpace 
                        </div>
                    </div>
                    <div class = "col-xs-1">
                    </div>
                </div>

                <div ng-show="revealMidiController" >
                    <div class = "row">
                        <div class = "col-sm-1">
                        </div>
                        <div class="col-sm-10 text-center">
                            <button ng-click="armMidi()" class="armButton"> click to reveal/hide midi settings and also to broadcast what your playing to the universe</button>
                            <div ng-show="revealParams" class="midiParameters">

                                <div class="currentDevices">
                                    Currently conneted devices:
                                    <div ng-repeat="object in connectedMidiDevices">
                                        {{object.name}}
                                    </div>
                                </div>

                                <div class = "midiDelay">
                                    DELAY TIME:
                                    <input class="volume" type=range min=0 max=3 value=10 step=.1 ng-model="midiParams.delay" ng-change="changeDelay()">
                                    <div class="delay_param">
                                        {{midiParams.delay}}
                                    </div>
                                </div>

                                <div class ="midiVolume">
                                    VOLUME:
                                    <input class="volume" type=range min=0 max=1 value=10 step=.1 ng-model="midiParams.volume" ng-change="changeVolume()">
                                    <div class = "volume_param">
                                        {{midiParams.volume}}
                                    </div>
                                </div>

                                 <div class ="filterFrequency">
                                    FILTER FREQUENCY:
                                    <input class="volume" type=range min=0 max=10000 value=25 step=1 ng-model="midiParams.filterFrequency" ng-change="changeFilterFrequency()">
                                    <div class = "filterFrequency_param">
                                        {{midiParams.filterFrequency}}
                                    </div>
                                </div>

                                <div class= "midiWaves"> 
                                    WAVE TYPE:
                                    <div ng-repeat="object in waveTypes track by $index" class="typeOfWave" ng-click="selectWave($index)" >
                                        <div ng-class={"typeOfWaveSelected":object.selected}>
                                            {{object.type}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "col-sm-1">
                        </div>
                    </div>
                </div>

                <div class ="row">
                    <div class = "col-sm-1">
                    </div>
                    <div class = "col-sm-10 text-center">
                        <div class = "mpc" ng-keypress="notePlayed($event)" tabindex="0" ng-keyup="releaseKeyStroke()" >
                            
                            <div class = "setType">
                                {{currentKit}}
                            </div>
                            <div class ="arrow-left" ng-click="changeKitDown()">
                            </div>
                            <div class ="arrow-right" ng-click="changeKitUp()">
                            </div>
                            <div class = "drumPad" ng-class={"drumPadPlayed":pad1BeingPlayed} ng-mousedown="clickPad1()" ng-mouseup="releasePad()"> 
                            </div>
                            <div class = "drumPad" ng-class={"drumPadPlayed":pad2BeingPlayed} ng-mousedown="clickPad2()" ng-mouseup="releasePad()">
                            </div>
                            <div class = "drumPad" ng-class={"drumPadPlayed":pad3BeingPlayed} ng-mousedown="clickPad3()" ng-mouseup="releasePad()">
                            </div>
                            <div class = "drumPad" ng-class={"drumPadPlayed":pad4BeingPlayed} ng-mousedown="clickPad4()" ng-mouseup="releasePad()">
                            </div>
                            <div class = "drumPad" ng-class={"drumPadPlayed":pad5BeingPlayed} ng-mousedown="clickPad5()" ng-mouseup="releasePad()">
                            </div>
                            <div class = "drumPad" ng-class={"drumPadPlayed":pad6BeingPlayed} ng-mousedown="clickPad6()" ng-mouseup="releasePad()">
                            </div>
                            <div class = "drumPad" ng-class={"drumPadPlayed":pad7BeingPlayed} ng-mousedown="clickPad7()" ng-mouseup="releasePad()">
                            </div>
                            <div class = "drumPad" ng-class={"drumPadPlayed":pad8BeingPlayed} ng-mousedown="clickPad8()" ng-mouseup="releasePad()">
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm-1">
                    </div>
                </div>
            <div class = "col-sm-0">
            </div>
        </div>
    </div>
<!-- </div> -->