<div class = "loginPage">
	<div class = "container landingPage">
		<div class = "row">
			<div class = "col-xs-12 text-center">
				<h1> Hello world, welcome to jamSpace.io! </h1>
			</div>
		</div>


			<form ng-submit="login()">
				<!-- <div class = "row">
					<div class="form-group col-xs-3"></div>
					<div class="form-group col-xs-6">
		  				<label>Enter a nickname:</label>
		  				<input type="text" class="form-control" ng-model="user.name">
					</div>
					<div class="form-group col-xs-3"></div>
				</div> -->
				<div class = "row">
					<div class="form-group col-xs-3"></div>
					<div class="form-group col-xs-6 text-center">
		  				<label class="where">Where are you going to jam?</label>
		 				 <input type="text" class="form-control bit" ng-model="user.destination">
		 			</div>
		 			<div class="form-group col-xs-3"></div>
		 		</div>
				<div class = "row">
					<div class="form-group col-xs-3"></div>
					<div class="form-group col-xs-6 text-center">
						<button type="button" class="btn btn-default .btn-lg bit">submit</button>
					</div>
					<div class="form-group col-xs-3"></div>
				</div>
			</form>
	</div>
</div>