<div class = "container">
	<div class = "row">
		<div class = "col-xs-12 text-center">
			<h1> Hello world, welcome to jamSpace.io! </h1>
		</div>
	</div>


<form ng-submit="login()">
			<div class = "row">
				<div class="form-group col-xs-3"></div>
				<div class="form-group col-xs-6">
	  				<label>Enter a nickname:</label>
	  				<input type="text" class="form-control" ng-model="user.name">
				</div>
				<div class="form-group col-xs-3"></div>
			</div>
			<div class = "row">
				<div class="form-group col-xs-3"></div>
				<div class="form-group col-xs-6">
	  				<label>Where are you going to jam?:</label>
	 				 <input type="text" class="form-control" ng-model="user.destination">
	 			</div>
	 			<div class="form-group col-xs-3"></div>
	 		</div>
			<div class = "row">
				<div class="form-group col-xs-3"></div>
				<div class="form-group col-xs-6 text-center">
					<button class="submit"> submit </button>
				</div>
				<div class="form-group col-xs-3"></div>
			</div>
		</form>